<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <script src="./js/common.js" type="module"></script>
    <script src="./js/home.js" type="module"></script>
    <title>Howler</title>
</head>
<body>
    <header class="page-header">

        <nav class="d-inline-flex p-2">
            <h2>
                <a href="/">Howler</a>
            </h2> 
        </nav>


        <div id="user">
        
            <a href="/">Log In</a>
        </div>


    </header>

    <main>

        <form id="howlerform">
            <div class="create-howl">
                <div class="card">
                    <div class="card-body">
                        <textarea class="text-howl" name="text-howl" id="send-howl" cols="77" rows="5" placeholder="What's howling?"></textarea>
                        <button type="submit" class="btn btn-primary" id="create-howl">Howl</button>
                    </div>
                </div>
            </div>
        </form>


        <divc class="container" id="howl-container"></div>
        
    </main>

</body>
</html>