<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUCCESS PAGE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/successcss.css">
</head>
<body>
    <main>
        <div>
            <header class="displaysuccess">
                <h1>Payment successful!</h1>
            </header>

            <div class="checkimg">
                <img src="./images/greencheck.png" alt="Green check mark">
            </div>
        </div>
    </main>
</body>
</html>